<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>I'm a Computer Science student &amp; aspiring software engineer/web developer
          living in Pittsburgh, Pennsylvania.</p>
        <p>Ever since I was little I can remember tinkering with or trying to figure out things that sparked my interest. 
        Whether it be the ukulele, or yoyo, or how to fold your ordinary sheet of paper into a llama, I was always trying to learn new things. 
        Technology soon found its way into this mix. This site exemplifies my own trials and tribulations learning as much as I can about tech, all the while 
        allowing others to gain insight into my process!</p>
        <p><strong>A little more about me..</strong>I have played guitar and ukulele for most of my life and cannot get enough of it. Some bands I really like include <strong>but</strong>
        <em> are not limited to..</em>the Arctic Monkeys, Shakey Graves, Mason Jennings, Pearl Jam, and The Foo Fighters. Some artists listed here have inspired me over 
        the years to pick up quirky or weird instruments like the ukulele and the infamous suitcase drum kit! In my spare time I like to study Stoicism and read works from that of Marcus Aurelius, 
        Seneca, and Cato the Younger.</p>
      </div>
      <div class="col-2 homepage_content">
        <h2>Stuff I've Written</h2>
        <hr>
        <%@posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post%></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
        <% end %>
      </div>
      <div class="col-3 homepage_content">
        <h2>Stuff I've Built</h2>
        <hr>
        <%@projects.each do |project| %>
          <h3><a href="#"> <%= link_to project.title, project %></a></h3>
          <p class="date"><%= project.created_at.strftime("%A, %B, %d") %></p>
        <% end %>
      </div>
    </div>