<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>I'm a Computer Science student &amp; aspiring web developer
          living in Pittsburgh, Pennsylvania.</p>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
          Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.
           Vestibulum id ligula porta felis euismod semper.</p>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
          Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      </div>
      <div class="col-2 homepage_content">
        <h2>Stuff I've Written</h2>
        <hr>
        <%@posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post%></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
        <% end %>
      </div>
      <div class="col-3 homepage_content">
        <h2>Stuff I've Built</h2>
        <hr>
        <%@projects.each do |project| %>
          <h3><a href="#"> <%= link_to project.title, project %></a></h3>
          <p class="date"><%= project.created_at.strftime("%A, %B, %d") %></p>
        <% end %>
      </div>
    </div>